h1 {
    color: red;
    font-style: italic;
    font-family: arial;
    font-size: 80px;
    text-align: center;
}

p1 {
    color: blue;
    font-family: arial;
    font-size: 300px;
    text-align: center;
}